<div id="enroll-form-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Thank you!</h4>
					</div>
					<div class="modal-body">
						<p>We'll be in contact with you within 24 hours to scheduele your tour!</p>
					</div>
					<div class="modal-footer">
						<a href="/">
							<button type="button" class="btn btn-success">Close</button>
						</a>
					</div>
			</div>
	</div>
</div>