<div class="container-fluid" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p>HAPPY TOTS<p>
			</div>
			<div class="col-sm-3">
				<p>About Us<p>
				<ul>
					<li>Why Happy Tots</li>
					<li>Locations</li>
					<li>Contact Us</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<p>Programs<p>
				<ul>
					<li>Program 1</li>
					<li>Program 2</li>
					<li>Program 3</li>
					<li>Program 4</li>
					<li>Program 5</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<a class="btn btn-success" href="/enroll">Scheduele A Tour Today!</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="footer-two">
	<p>Happy Tots Montessori, Copyright 2018</p>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>