<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">
	<div class="container-fluid text-center text-md-left" id="top-footer">
		<div class="row my-4">
			<div class="col-md-4 col-lg-4">
            	<h5 class="text-uppercase mb-4 font-weight-bold">Happy Tots Montessori</h5>
            	<p>Here you can use rows and columns here to organize your footer content.</p>
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident
                  voluptate esse quasi, veritatis totam voluptas nostrum. </p>
          	</div>
          	<hr class="clearfix w-100 d-md-none">
          	<div class="col-md-2 col-lg-2 ml-auto">
              	<h5 class="text-uppercase mb-4 font-weight-bold">About</h5>
              	<ul class="list-unstyled">
                	<p><a href="/why-happy-tots">WHY HAPPY TOTS</a></p>
                	<p><a href="/locations">LOCATIONS</a></p>
                  <p><a href="/reviews">REVIEWS</a></p>
                	<p><a href="/contact">CONTACT US</a></p>
                	<p><a href="#!">CAREERS</a></p>
              	</ul>
          	</div>
          	<hr class="clearfix w-100 d-md-none">
          	<div class="col-md-4 col-lg-3">
              	<h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
              	<p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              	<p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
              	<p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              	<p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          	</div>
          	<hr class="clearfix w-100 d-md-none">
          	<div class="col-md-2 col-lg-2 text-center">
              	<h5 class="text-uppercase mb-4 font-weight-bold">Visit Us</h5>
              	<div class="mt-2 ">
              		<a class="btn btn-success" href="/enroll">Scheduele A Tour Today!</a>
              	</div>
              	<h5 class="text-uppercase mb-4 font-weight-bold" id="call-us-title-footer">Call Us</h5>
              		<a href="tel:1-847-555-5555" class="btn btn-success">
                    	<i class="fas fa-phone"></i>
                    	1-847-555-5555
                	</a> 
          	</div>
      	</div>
  	</div>
  	<div class="footer-copyright py-3 text-center" id="bottom-footer">
      	<div class="container-fluid">
        	© 2017 Copyright: Happy Tots Montessori
      	</div>
  	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>