<!-- <div id="home-image">
    <div id="caption">
        <p>
            Providing carefully planned stimulating environments, which help children develop essential habits, attitudes, skills and ideas for a lifetime of creative thinking. Montessori's philosophy of following the growing needs of each individual child, gives children the freedom to experiment and learn in a "prepared environment" at their own pace in a noncompetitive atmosphere.
        </p>
        <a class="btn btn-success btn-lg" href="/enroll">Scheduele A Tour Today!</a>
    </div>
</div> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://eastcolumbiapreschool.org/wp-content/uploads/2017/02/home-page-image.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://le-www-live-s.legocdn.com/sc/media/images/2-widescreen-16-9/preschool/early-math-and-science/preschool-early-math-and-science-16-9-4260c7f493e50b4bc3fce297a3fc1ef2.jpg?fit=around|413:234&crop=413:234;*,*" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.autismspeaks.org/sites/default/files/docs/preschool_hero.jpg" alt="Third slide">
    </div>
  </div>
</div>