<div id="home-image">
    <div id="caption">
        <p>
            Providing carefully planned stimulating environments, which help children develop essential habits, attitudes, skills and ideas for a lifetime of creative thinking. Montessori's philosophy of following the growing needs of each individual child, gives children the freedom to experiment and learn in a "prepared environment" at their own pace in a noncompetitive atmosphere.
        </p>
        <a class="btn btn-success btn-lg" href="/enroll">Scheduele A Tour Today!</a>
    </div>
</div>