<!-- OUR LOCATIONS -->
<div class="container">
    <h3 class="text-center">Our Locations</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://www.wavertonpreschool.co.uk/wp-content/uploads/photo-gallery/PreSchool-Building-From-Front4.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Pacific Coast Highway</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://moziru.com/images/bulding-clipart-day-care-center-19.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Normandie</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>