<div class="container" id="programs">
    <h3 class="text-center">Our Programs</h3>
    <div class="row">
        <div class="col-md-3" id="program-infant">
            <div class="program-caption">
                <h4>Infant</h4>
                <p>0 weeks - 24 months</p>
            </div>
            <a href="/our-programs/infant"><span></span></a>
        </div> 
        <div class="col-md-3" id="program-toddler">
            <div class="program-caption">
                <h4>Toddlers</h4>
                <p>2 years - 36 years</p>
            </div>
            <a href="/our-programs/toddler"><span></span></a>
        </div>
        <div class="col-md-3" id="program-preschool">
            <div class="program-caption">
                <h4>Preschool</h4>
                <p>3 years - 4 years</p>
            </div>
            <a href="/our-programs/preschool"><span></span></a>
        </div>
        <div class="col-md-3" id="program-tk">
            <div class="program-caption">
                <h4>Transitional Kindergarten (TK)</h4>
                <p>4 years - 5 years</p>
            </div>
            <a href="/our-programs/transitional-kindergarten"><span></span></a>
        </div>
    </div>
        <div class="row">
            <div class="col-md-3" id="program-kindergarten">
                <div class="program-caption">
                    <h4>Kindergarten</h4>
                    <p>5 years - 6 years</p>
                </div>
                <a href="/our-programs/kindergarten"><span></span></a>
            </div>
            <div class="col-md-3" id="program-field-trips">
                <div class="program-caption">
                    <h4>Field Trips</h4>
                    <p>Education outside the classroom</p>
                </div>
                <a href="/our-programs/field-trips"><span></span></a>
            </div>
            <div class="col-md-3" id="program-language">
                <div class="program-caption">
                    <h4>Language Immersion</h4>
                    <p>Now offering Spanish classes</p>
                </div>
                <a href="/our-programs/language-classes"><span></span></a>
            </div>    
            <div class="col-md-3" id="program-summer">
                <div class="program-caption">
                    <h4>Summer Program</h4>
                    <p>Go to school during the summer</p>
                </div>
                <a href="/our-programs/summer"><span></span></a>
            </div>     
        </div>
    </div>
</div>