<!-- OUR PROGRAMS -->
<div class="container" id="programs">
    <h3 class="text-center">Our Programs</h3>
    <div class="row">
        <div class="col-md-4" id="program-infant">
            <div class="program-caption">
                <h4>Infant</h4>
                <p>12 weeks - 18 months</p>
            </div>
        </div>
        <div class="col-md-4" id="program-toddler">
            <div class="program-caption">
                <h4>Toddlers</h4>
                <p>18 months - 36 months</p>
            </div>
        </div>
        <div class="col-md-4" id="program-preschool">
            <div class="program-caption">
                <h4>Preschool/Kindergarden</h4>
                <p>3 years - 6 years</p>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4" id="program-language">
                <div class="program-caption">
                    <h4>Language Immersion</h4>
                    <p>Mandarin or Spanish</p>
                </div>
            </div>
            <div class="col-md-4" id="program-enrichment">
                <div class="program-caption">
                    <h4>Enrichment</h4>
                    <p>1Music, Playground Learning, Events</p>
                </div>
            </div>
            <div class="col-md-4" id="program-after-school">
                <div class="program-caption">
                    <h4>After School</h4>
                    <p>For Enrolled Students</p>
                </div>
            </div>       
        </div>
    </div>
</div>