<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">Enroll Your Child</h1>
		<p class="lead">Infant • Toddler • Preschool • Kindergarten • Elementary • Middle School</p>
	</div>
</div>
<div class="container">
	<h3 class="text-center	">Step 1: Sign up for a tour and request additional information</h3>
	<div class="row">
		<div class="col-md-5">
			<p>Visit our school: seeing is believing! Tour our facilities: see classrooms and playgrounds. Meet our staff. Understand programs, schedules, and tuition. A visit is the only way to really find out whether a school is right for you. We typically schedule tours in the mornings, so you can see the authentic Montessori experience in practice (as against seeing empty classrooms).</p>
		</div>
		<div class="col-md-7">
			<form method="POST" action="send">
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" name="firstName" placeholder="Your First Name *" required>
					</div>
					<div class="col">
						<input type="text" class="form-control" name="lastName" placeholder="Your Last Name *" required>
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" name="email" placeholder="Your Email *" required>
					</div>
					<div class="col">
						<input type="text" class="form-control" name="phone" placeholder="Best Number To Call You *" required>
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" name="childsName" placeholder="Child's First Name">
					</div>
					<div class="col">
						<input type="text" class="form-control" name="childsAge" placeholder="Child's age (0 if still expecting)">
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<select name="program" class="custom-select">
  							<option selected>Select a Program:</option>
  							<option value="1">Infant (12 weeks-18 months)</option>
  							<option value="2">Toddler (18 months-36 months)</option>
  							<option value="3"> Preschool/Kindergarden (3 years-6years)</option>
						</select>
					</div>
					<div class="col">
						<select name="location" class="custom-select">
							<option selected>Choose a Location</option>
							<option value="1">Not Sure Yet</option>
							<option value="2">Pacific Coast Highway</option>
							<option value="3">Normandie	</option>
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-success" id="enroll-submit-button">Contact Me To Scheduele My Tour!</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<h3 class="text-center">Step 2: Discuss availability to waitlist or enroll</h3>
	<p class="text-center">When you tour, we’ll discuss enrollment timelines with you:</p>
	<div class="row">
		<div class="col-md-6">
			<p>Near-term and mid-year enrollment. We enroll year-round when there is a match between a spot and a child (timing, age, gender, previous Montessori experience, language skills, etc.) If there’s a match between your child, your timeline, and an opening, you may receive an enrollment offer during or soon after your tour.</p>
		</div>
		<div class="col-md-6">
			<p>Waitlist for school-year starts and future mid-year openings. If you are planning ahead or looking to enroll for the next school year, you can place your child on our waitlist/applicant pool via the simple online process. You’ll receive a link to the waitlist after your tour. The sooner you waitlist, the higher up on the waitlist you will be, so act now. Enrollment offers for the next school year are typically sent out between February and April; after April, if any spots remain open, we will offer direct enrollment for the next school year.</p>
		</div>
	</div>
</div>
<div class="container" id="enrollment-step">
	<h3 class="text-center">Step 3: Enrollment</h3>
	<p class="text-center">For all children, once you complete the enrollment application and pay the tuition deposit to secure your spot, you need to complete an enrollment package. It covers items ranging from food preferences to vaccination reports and emergency contact and pick-up authorizations.</p>
</div>
<% include ./partials/locations-mod %>
<% include ./partials/programs-mod %>
<% include ./partials/footer %>