<!DOCTYPE html>
<html>
<head>
    <title>Happy Tots Montessori</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<!-- TOP BAR -->
<div class="container-fluid" id="top-bar">
    <span id="social-icons">
        <a href="https://www.facebook.com/happytots.montessori?ref=br_rs" target="_blank">
            <i class="fa fa-facebook"></i> 
        </a>
        <a href="https://www.yelp.com/biz/happy-tots-montessori-school-and-infant-center-harbor-city" target="_blank">
            <i class="fa fa-yelp"></i>
        </a>
        <a href="https://www.youtube.com/watch?v=JqLgP9OjvE0&t" target="_blank">
            <i class="fa fa-youtube"></i>
        </a>
        <a href="mailto:info@happytots.us">
            <i class="fa fa-envelope"></i>
        </a>
    </span>
    <span id="top-bar-links">
        <a href="#">Admissions</a>
        <a href="#">Careers</a>
        <a href="#">Contact</a>
    </span>
</div>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Happy Tots Montessori</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Why Happy Tots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programs</a>
            </li>
            <button type="button" class="btn btn-primary">Enroll Your Child</button>
        </ul>
    </div>
</nav>
<!-- MAIN HOMEPAGE IMAGE -->
<div id="home-image">
    <div id="caption">
        <p>
            At Happy Tots, our mission is to equip each child with Knowledge for Life: the essential knowledge, thinking skills, and strength of character required to flourish as joyous children today and as successful adults tomorrow.
        </p>
    </div>
</div>
<!-- OUR PASSION FOR EDUCATION -->
<div class="container">
    <h3 class="text-center">Our Passion for Education</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Welcome to Happy Tots Montessori Schools where our passion for education shows in each child’s joyful eyes, in each teacher’s inspiring voice, and in each classroom’s inviting warmth. Visit one of our campuses and you will see how we are more than just a daycare or a traditional private school. Our mission is to equip students, from infant through 8th grade, with Knowledge for Life –  the essential knowledge, thinking skills, and strength of character required to flourish as joyous children today and as successful adults tomorrow. Starting with authentic Montessori for infants and progressing to a rigorous Montessori upper school curriculum, our students become well prepared for a life-time of personal and academic success. Discover what LePort can do for your child: explore our programs, read our blog, attend an event, schedule a tour!
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://www.autismspeaks.org/sites/default/files/docs/preschool_hero.jpg">
        </div>
    </div>
</div>
<!-- LOCATIONS BANNER -->
<!-- DISCOVER IMAGES/LINKS -->
<!-- OUR PROGRAMS -->
<div class="container">
    <h3 class="text-center">Our Programs</h3>
    <div class="row">
        <div class="col-md-4" id="program-infant"></div>
        <div class="col-md-4" id="program-toddler"></div>
        <div class="col-md-4" id="program-preschool"></div>
    </div>
        <div class="row">
        <div class="col-md-4" id="program-language"></div>
        <div class="col-md-4" id="program-enrichment"></div>
        <div class="col-md-4" id="program-after-school"></div>
</div>
<!-- OUR LOCATIONS -->
<div class="container">
    <h3 class="text-center">Our Locations</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://www.wavertonpreschool.co.uk/wp-content/uploads/photo-gallery/PreSchool-Building-From-Front4.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Pacific Coast Highway</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://moziru.com/images/bulding-clipart-day-care-center-19.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Normandie</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class="container-fluid" id="bottom-bar">
    <span id="footer-copyright">
        <p>Copyright 2018, Happy Tots Montessori Schools</p>
    </span>
    <span id="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Enrollment FAQ</a>
    </span>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>