<% include ./partials/header %>
<!-- MAIN HOMEPAGE IMAGE -->
<div id="home-image">
    <div id="caption">
        <p>
            At Happy Tots, our mission is to equip each child with Knowledge for Life: the essential knowledge, thinking skills, and strength of character required to flourish as joyous children today and as successful adults tomorrow.
        </p>
    </div>
</div>
<!-- OUR PASSION FOR EDUCATION -->
<div class="container">
    <h3 class="text-center">Our Passion for Education</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Welcome to Happy Tots Montessori Schools where our passion for education shows in each child’s joyful eyes, in each teacher’s inspiring voice, and in each classroom’s inviting warmth. Visit one of our campuses and you will see how we are more than just a daycare or a traditional private school. Our mission is to equip students, from infant through 8th grade, with Knowledge for Life –  the essential knowledge, thinking skills, and strength of character required to flourish as joyous children today and as successful adults tomorrow. Starting with authentic Montessori for infants and progressing to a rigorous Montessori upper school curriculum, our students become well prepared for a life-time of personal and academic success. Discover what LePort can do for your child: explore our programs, read our blog, attend an event, schedule a tour!
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://www.autismspeaks.org/sites/default/files/docs/preschool_hero.jpg">
        </div>
    </div>
</div>
<!-- LOCATIONS BANNER -->
<!-- DISCOVER IMAGES/LINKS -->
<!-- OUR PROGRAMS -->
<div class="container" id="programs">
    <h3 class="text-center">Our Programs</h3>
    <div class="row">
        <div class="col-md-4" id="program-infant">
            <div class="program-caption">
                <h4>Infant</h4>
                <p>12 weeks - 18 months</p>
            </div>
        </div>
        <div class="col-md-4" id="program-toddler">
            <div class="program-caption">
                <h4>Toddlers</h4>
                <p>18 months - 36 months</p>
            </div>
        </div>
        <div class="col-md-4" id="program-preschool">
            <div class="program-caption">
                <h4>Preschool/Kindergarden</h4>
                <p>3 years - 6 years</p>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-4" id="program-language">
            <div class="program-caption">
                <h4>Language Immersion</h4>
                <p>Mandarin or Spanish</p>
            </div>
        </div>
        <div class="col-md-4" id="program-enrichment">
            <div class="program-caption">
                <h4>Enrichment</h4>
                <p>1Music, Playground Learning, Events</p>
            </div>
        </div>
        <div class="col-md-4" id="program-after-school">
            <div class="program-caption">
                <h4>After School</h4>
                <p>For Enrolled Students</p>
            </div>
        </div>
</div>
<!-- OUR LOCATIONS -->
<div class="container">
    <h3 class="text-center">Our Locations</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://www.wavertonpreschool.co.uk/wp-content/uploads/photo-gallery/PreSchool-Building-From-Front4.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Pacific Coast Highway</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="http://moziru.com/images/bulding-clipart-day-care-center-19.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Normandie</h4>
                        <p class="card-text">This is where the address of this school will go</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>