<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Our Programs</h1>
    <p class="lead">The perfect enviorment for your childern to thrive.</p>
  </div>
</div>
<% include ./partials/programs-mod %>
<% include ./partials/footer %>