<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">What People Have To Say About Us</h1>
		<p class="lead">It's not just the kids, their parent love us too!</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="ra-pn3FXZA7rfVh4vgnEiw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=sNnLNIqZeL5675VPALFazw" rel="nofollow noopener">Jon D.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-and-infant-center-harbor-city?hrid=ra-pn3FXZA7rfVh4vgnEiw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/721xrkF7pMloMD4pSSnaFA" rel="nofollow noopener">Happy Tots Montessori School And Infant Center</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="AX7vONsPltB_bpU-qTA66Q" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=yFbPIMD3I1OqNNFADo1riA" rel="nofollow noopener">J N.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-and-infant-center-harbor-city?hrid=AX7vONsPltB_bpU-qTA66Q" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/721xrkF7pMloMD4pSSnaFA" rel="nofollow noopener">Happy Tots Montessori School And Infant Center</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="_XQ-ZsP638lx7X-0N0YWeQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=BXuGQWI2SqKesSdjOLT6ww" rel="nofollow noopener">Lisa W.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-and-infant-center-harbor-city?hrid=_XQ-ZsP638lx7X-0N0YWeQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/721xrkF7pMloMD4pSSnaFA" rel="nofollow noopener">Happy Tots Montessori School And Infant Center</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="hZw7mBW9ifR05YVxpeuSRQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=2zGEVUIjJ28ZBPoX_XqeXA" rel="nofollow noopener">Krystal B.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-and-infant-center-harbor-city?hrid=hZw7mBW9ifR05YVxpeuSRQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/721xrkF7pMloMD4pSSnaFA" rel="nofollow noopener">Happy Tots Montessori School And Infant Center</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="fEZu1HcewgV3f-uuBYtopw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=YJbterPtdm2GoB2jbTLztA" rel="nofollow noopener">Elizabeth S.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-harbor-city-2?hrid=fEZu1HcewgV3f-uuBYtopw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/IVaClovzZS8B75ebKKoZ4w" rel="nofollow noopener">Happy Tots Montessori School</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
		<div class="col-md-6">
			<span class="yelp-review" data-review-id="zsb29Qm4hqawQ2pVNH6qXQ" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=lpkdtAUzAc51BBExlDxE0Q" rel="nofollow noopener">Nicole G.</a>'s <a href="https://www.yelp.com/biz/happy-tots-montessori-school-harbor-city-2?hrid=zsb29Qm4hqawQ2pVNH6qXQ" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/IVaClovzZS8B75ebKKoZ4w" rel="nofollow noopener">Happy Tots Montessori School</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
		</div>
	</div>
</div>
<% include ./partials/footer %>