<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">What People Have To Say About Us</h1>
		<p class="lead">It's not just the kids, their parent love us too!</p>
	</div>
</div>
<% include ./partials/footer %>