<% include ./partials/header %>
<!-- JUMBOTRON HEADER -->
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">Why Happy Tots Montessori?</h1>
		<p class="lead">Why Happy Tots Montessori and Infant Center is the clear choice for your family.</p>
	</div>
</div>
<% include ./partials/footer %>