<% include ./partials/header %>
<!-- JUMBOTRON HEADER -->
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">Why Happy Tots Montessori?</h1>
		<p class="lead">Why Happy Tots Montessori and Infant Center is the clear choice for your family.</p>
	</div>
</div>
<div class="container" id="goals">
	<h2>Our Goal</h2>
	<div class="row">
		<div class="col-sm-8">
			<p>
				Our primary goal at Happy Tots Montessori is to make the growing child - as much as possible - psychologically and physically independent of the adult and in control of their own environment. Children are encouraged to do things for themselves at their own rate, with only those things that will promote their development. Thus there are child size tables, chairs, sinks, toilets, shelves, cabinets, and cleaning equipment that all help to instill this independence and sense of responsibility. Our teacher prepares the environment, programs the activities, and functions as the reference person and exemplar, to offer the child stimulation.
			</p>
		</div>
		<div class="col-sm-4">
			<img class="img-thumbnail" src="https://static.wixstatic.com/media/c85f4e_eeea931a53d443d7b05c59f967660e86~mv2.png/v1/fill/w_990,h_629,al_c/c85f4e_eeea931a53d443d7b05c59f967660e86~mv2.png">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="img-thumbnail" src="https://frontiersinblog.files.wordpress.com/2017/10/montessori-academic-outcomes.jpg?w=940">
		</div>
		<div class="col-sm-8">
			<p>
				By engaging the child in their environment, it helps to develop habits of concentration, stick- to - activeness, and thoroughness which once established in early childhood helps to produce a confident and competent learner in later years. In teaching children specific skills, we seek not to impart knowledge alone but to instill the life long habit of learning, questioning and relating to others. All this leads to the development of the whole person. The education at Happy Tots Montessori is founded on the principles of the Montessori Method. Sustained throughout all programs, the method provides continuity and cohesiveness at all age levels in the school. The principles are expressed differently according to each particular need and developmental stage of the child.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<p>
				Our child-to-teacher ratio is excellent and averages six to one. Classes use the Montessori learning materials, which are designed to teach concepts in a concrete way, and then help the child make the leap from the concrete to the abstract. Our primary aim is to preserve the child's natural curiosity and nourish and encourage the love of learning that is present in each child. Children learn respect for each other and the environment and develop confidence and a "can-do" attitude through many small successes.	
			</p>
		</div>
		<div class="col-sm-4">
			<img class="img-thumbnail" src="https://livingmontessori.com/wp-content/uploads/2017/01/child-doing-shape-activity-living-montessori.jpg">
		</div>
	</div>
	<h2>About Montessori</h2>
	<div class="row">
		<div class="col-sm-8">
			<p>
				Montessori is a method of education named after Dr. Maria Montessori. It is both a philosophy of child growth and development and a rationale for guiding such development. 
			</p>
			<p>
				Maria Montessori was born in 1870. In 1895, she became the first woman in Italy to obtain the degree of Doctor of Medicine. This background led Dr. Montessori to approach education more from the scientific level than the accepted academic standard. She observed children and was constantly testing and retesting the validity of her concepts-concepts that would contribute to a more natural growth of learning in students. She designed materials and techniques that advanced the method of educating all children, learning disabled through gifted, far beyond previous practice. To Dr. Montessori, education was a preparation for life, not merely a search for intellectual skills.
			</p>
		</div>
		<div class="col-sm-4">
			<img class="img-thumbnail" src="http://2.bp.blogspot.com/_3zqObIZvPpk/S4gnmMLbr8I/AAAAAAAAAU0/Yr2nKrjeiUU/s1600/maria+montessori.bmp">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="img-thumbnail" src="http://edmodo.wpengine.com/wp-content/uploads/2014/03/MariaMontessori_kids1.jpg">
		</div>
		<div class="col-sm-8">
			<p>
				Dr. Montessori died in 1952. Today, after almost 75 years of international application, the Montessori method thrives in the United States with more than 3,000 schools established since 1957.
			</p>
			<p>
				Happy Tots Montessori School is a unique school where the craft of the Montessori Method in the development of a child's intelligence is implemented in the most effective way.We are unique because we are modern!To keep up with the times we merge the Montessori Method with other successful approaches to preschool teaching. Happy Tots Montessori School focuses solely on preschool education and therefore we are shown to be objectively better.We are proud that nearly 100% of our graduates successfully pass the tests for the Gifted and Talented program, earning them right to study in the best schools in California.We are unique, because we have made our school convenient for every schedule. Our services are affordable for every family, and our schedules for attendance are particularly convenient for working parents.
			</p>
		</div>
	</div>
</div>
<% include ./partials/footer %>