<% include ../partials/header %>
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">Language Classes</h1>
		<p class="lead">This is where the language classes page will be</p>
	</div>
</div>
<% include ../partials/footer %>