<% include ../partials/header %>
<div class="jumbotron jumbotron-fluid">
 	<div class="container">
		<h1 class="display-4">Transitional-Kindergarten</h1>
		<p class="lead">This is where the transitional-kindergarten page will be</p>
	</div>
</div>
<% include ../partials/footer %>